<!-- Portfolio Grid Section -->
<section id="speakers">
    <div class="container">
        <div class="row">
            <div>
                <h2 class="section-heading">Leader</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div>
                <img src="/img/leader.png" alt="" style="padding-right:30px;">
                    <div style="text-align: center;">Hisao</div>
            </div>
            <div style="text-align: center;">
                <p>This is test introduction</p>
            </div>
        </div>

    </div>
</section>