<!-- Portfolio Grid Section -->
<br>
<section id="speakers">
    <div class="container-fluid px-lg-5">
        <div class="row">

            <div class="col-lg-7">
                <h3>Leader</h3>

                <div class="row">
                    <div class="col-lg-4">
                        <figure>
                            <img src="/img/leader.jpg" style="width:100%" alt="Hisao Ishibuchi">
                            <figcaption style="text-align: center; font-weight: bold">Prof. Hisao Ishibuchi <a href="/cv"
                                                                                                               style="text-decoration: underline">CV</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-8"><br>
                        <p style="text-align:justify; text-justify:inter-ideograph;">
                            <strong>Message to Chinese Students</strong> <br>
                            In 2017, I came to SUSTech to help Prof. Xin Yao to create one of the best CS departments in the
                            world. In SUSTech, I am always trying to increase the international presence of the SUSTech CS
                            Department. I am also always trying to help highly-motivated young researchers and students to be
                            internationally well-known researchers in the field of Computational Intelligence using my knowledge
                            and experiences.</p></div>
                </div>


            </div>
            <div class="col-lg-5">
                <h3>Research</h3>
                <p style="text-align:justify; text-justify:inter-ideograph;">The main research field of our research group is multi-objective evolutionary
                    computation. In principle,
                    evolutionary computation can be applied to all optimization and learning problems such as the optimization of
                    high-speed train shape design (Shinkansen), the optimization of airplane shape design, and the structure
                    optimization of deep learning neural networks. Multi-objective evolutionary computation is a class of optimization
                    algorithms designed for the handling of multiple conflicting objectives (e.g., the performance maximization and
                    the cost minimization when you choose a computer). For more details, please <a href="{{"/research" | relative_url }}">click</a>.</p>
            </div>

        </div>


    </div>
</section>
<hr>