<!DOCTYPE html>
<html>

{% include head_member.html %}

<body>

{% include navbar.html %}
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.description %}
                        <span class="subheading">{{ page.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-5" id="sidebar">
                <div class="sidebar-header">
                    <h3>People</h3>
                </div>

                <div class="list-unstyled components">
                    <nav role="navigation" aria-label="Main navigation">
                        <ul class="list-unstyled components">
                            {% for member in site.data.members %}
                            {% if page.id == member.url %}
                            <li class="active"><a href="/member/{{member.url}}" class="navigation-list-link active">{{member.name}}</a></li>
                            {% else %}
                            <li class=""><a href="/member/{{member.url}}" class="navigation-list-link">{{member.name}}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-7">
                {% for member in site.data.members %}
                {% if page.id == member.url %}
                {% for people in member.members %}
                <div class="row">
                    {% if people.photo %}
                    <img src="{{people.photo}}" style="float:left" class=" col-4">
                    {% endif%}
                    <div class="pane-content col-8">
                        <h3>{{people.name}}</h3>
                        <p>{{people.email}}
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>


    {% include footer.html %}

    {% include scripts.html %}

    {% include google-analytics.html %}

</body>

</html>